<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<body>
<footer >
    <!--<div class="footer-social">-->
        <!--<div class="footer-container clearfix">-->
            <!--<div class="social-list">-->
                <!--<th:block th:each="index:${commons.social()}">-->
                    <!--<th:block th:if="${index.value}!=null and ${index.value}!=''">-->
                        <!--<th:block th:switch="${index.key}">-->
                            <!--<th:block th:case="'weibo'">-->
                                <!--<a class="social weibo" target="blank"-->
                                   <!--th:href="@{${index.value}}">微博</a>-->
                            <!--</th:block>-->
                            <!--<th:block th:case="'zhihu'">-->
                                <!--<a class="social zhihu" target="blank"-->
                                   <!--th:href="@{${index.value}}">知乎</a>-->
                            <!--</th:block>-->
                            <!--<th:block th:case="'github'">-->
                                <!--<a class="social github" target="blank"-->
                                   <!--th:href="@{${index.value}}">Github</a>-->
                            <!--</th:block>-->
                            <!--<th:block th:case="'twitter'">-->
                                <!--<a class="social twitter" target="blank"-->
                                   <!--th:href="@{${index.value}}">Twitter</a>-->
                            <!--</th:block>-->
                        <!--</th:block>-->
                    <!--</th:block>-->
                <!--</th:block>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="footer-meta">
        <div class="footer-container">
            <div class="meta-item meta-copyright">
                <div class="meta-copyright-info">
                    <div class="info-text">
                        <a href="http://www.owlfeng.cn" class="info-logo">
                            <img th:src="@{/user/img/logo.png}"
                                 th:alt="${commons.site_title()}"/>
                        </a>
                        <br/>
                        <p>&copy; 版权所有 <a href="https://github.com/owlfeng1021/owlBlog" target="_blank" rel="nofollow">owlBlog</a>
                        </p>
                        <br/>
                        <th:block th:if="${option}!=null and ${option.getValue()}!=''">
                            <p th:text="${option.getValue()}"></p>
                        </th:block>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>
</body>
</html>